* {
    margin: 0 auto;
    padding: 0 auto;
}

header {
    background: url(/images/slider.png);
    background-size: cover;
    height: 70vh;
    // opacity: 0.52;
}

.navbar {
    height: 70px;
    background-color: #000;

    .container {
        display: flex;

        .logo {
            width: 20%;
        }

        .nav-menu {
            width: 60%;
            display: flex;
            // padding: 15px 0;

            ul {
                list-style: none;
                display: flex;

                li {
                    a {
                        text-decoration: none;
                        padding: 0px 20px;
                        color: #fff;
                    }
                }
            }
        }
    }

}

.slider-title {
    width: 60%;
    padding: 100px;
    color: #fff;

    .title {
        padding: 20px 0;
        font-weight: 300;
    }

    hr {
        margin: 0;
        width: 74px;
        border: 1px #fff solid;
    }

    .color-p-white {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 20px;
    }

}

.social-media {
    padding: 10px 0;
    height: 105px;
    color: #86878b;
    box-shadow: 0px 2px 2px #888888;

    h3 {
        color: #333;
    }

    .icon {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        a {
            color: #ccc;
        }
    }

}

section {
    padding: 120px 0;
}

p {
    color: #86878b;
}

#features {
    background-color: #f5f5f5;

    .tab-content {
        h3 {
            font-size: 20px;
            font-weight: 600;
            padding: 10px 0 40px 0px;
        }


    }

    a.active {
        background: #ff8b38 !important;

    }

    a#v-pills-home-tab {
        color: #fff;
        background: #444;
        height: 112px;
        width: 112px;
        border-radius: 0;
        border: 0.25px #ccc solid;
        padding-top: 40px;

    }

    a#v-pills-profile-tab {
        color: #fff;
        background: #444;
        height: 112px;
        width: 112px;
        border-radius: 0;
        border: 0.25px #ccc solid;
        padding-top: 40px;
    }

    a#v-pills-messages-tab {
        color: #fff;
        background: #444;
        height: 112px;
        width: 112px;
        border-radius: 0;
        padding-top: 40px;
    }

    button.btn.btn-warning {
        background-color: #ff8b38;
        color: #fff;

        &:hover {
            border: 1px #ff8b38 solid;
            background-color: #fff;
            color: #ff8b38;
        }
    }
}

.Sub-list-section {
    font-size: 20px;
    font-weight: 600;
}

.sub-list {
    hr {
        border: 1px #ff8b38 solid;
        width: 64px;
        margin-left: 0;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .icon-sub {

        i {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px #ff8b38 solid;
            color: #ff8b38;
            padding-top: 10px;
            text-align: center;
        }
    }
}