* {
    margin: 0 auto;
    padding: 0 auto;
}

html {
    overflow-x: hidden;
}


header {
    background: url(/images/slider.png);
    background-size: cover;
    height: 90vh;

    .navbar-dark {
        background-color: #000 !important;
    }

    .navbar-collapse {
        ul {
            li {
                a {
                    padding-left: 30px !important;
                }
            }

        }
    }
}


.slider-title {
    padding: 100px 0;
    color: #fff;

    .title {
        padding: 20px 0;
        font-weight: 300;
    }

    hr {
        margin: 0;
        width: 74px;
        border: 1px #fff solid;
    }

    .color-p-white {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 20px;
    }

}

@media screen and (max-width: 576px) {

    .slider-title {
        h2 {
            font-size: 22px;
        }
    }

    .slider-title {
        padding: 50px 0;
        color: #fff;
    }
}

.social-media {
    padding: 10px 0;
    color: #86878b;
    box-shadow: 0px 2px 2px #888888;

    h3 {
        color: #333;
    }

    .icon {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        a {
            color: #ccc;
        }
    }

}

@media screen and (max-width: 576px) {
    .icon {
        i {
            font-size: 20px;
        }

    }

    section {
        padding: 40px 0 !important;
    }
}

section {
    padding: 120px 0;
}

p {
    color: #86878b;
}

.img-bgr {
    width: 100%;
}

#features {
    background-color: #f5f5f5;

    .tab-content {
        h3 {
            font-size: 20px;
            font-weight: 600;
            padding: 0 0 10px 0;
        }
    }

    a.active {
        background: #ff8b38 !important;

    }

    a#v-pills-home-tab {
        color: #fff;
        background: #444;
        border-radius: 0;
        border: 0.25px #ccc solid;
        padding: 30px;

    }

    a#v-pills-profile-tab {
        color: #fff;
        background: #444;
        border-radius: 0;
        border: 0.25px #ccc solid;
        padding: 30px;
    }

    a#v-pills-messages-tab {
        color: #fff;
        background: #444;
        border-radius: 0;
        border: 0.25px #ccc solid;
        padding: 30px;
    }


}

button.btn.btn-warning {
    background-color: #ff8b38;
    color: #fff;

    &:hover {
        border: 1px #ff8b38 solid;
        background-color: #fff;
        color: #ff8b38;
    }
}

@media screen and (max-width: 576px) {

    .tab-content {
        padding: 0 10px;
    }

}

.Sub-list-section {
    font-size: 20px;
    font-weight: 600;
}

.sub-list {
    hr {
        border: 1px #ff8b38 solid;
        width: 64px;
        margin-left: 0;
    }

    h4 {
        font-size: 18px;
        font-weight: 600;
    }

    .icon-sub {

        i {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px #ff8b38 solid;
            color: #ff8b38;
            padding-top: 10px;
            text-align: center;
        }
    }
}

#standard-pic {
    background-color: #f5f5f5;

    .Sub-list-section {
        padding-top: 20px;
    }
}

.title-sec {
    padding-bottom: 70px;
}


@media screen and (max-width: 576px) {

    .title-sec {
        padding-bottom: 30px;
    }

}

#process-panel {
    hr {
        border: 1px #ff8b38 solid;
        width: 64px;
    }

    .icon-sub {

        i {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px #ff8b38 solid;
            color: #ff8b38;
            padding-top: 20px;
            text-align: center;
        }
    }

    .Sub-list-section {
        padding: 30px 0;
    }
}

#pricing-panel {
    background-color: #f5f5f5;

    .row-pricing {
        align-items: flex-end;
    }

    hr {
        border: 1px #ff8b38 solid;
        width: 64px;
    }

    .card_header {
        background-color: #000;
        color: #fff;

        .title-card {
            padding: 10px;
            border-bottom: 1px solid #f5f5f5;
        }

        .price {
            border-bottom: 1px solid #f5f5f5;
            line-height: 1;

            .sub-price {
                font-size: 94px;
                font-weight: 800;

                i {
                    font-size: 35px;
                }
            }
        }

        .sub-title {
            font-style: italic;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px;
            color: #86878b;
            font-weight: 600;

        }

        .line {
            background: #ff8b38;
            border: 4px solid #ff8b38;
            font-weight: 600;
        }
    }





    .content {
        background-color: #fff;
        text-transform: uppercase;

        .layer {
            border-bottom: 1px solid #f5f5f5;
            text-transform: uppercase;
            padding: 10px 0;
            color: #86878b;
        }
    }


}

@media screen and (max-width: 576px) {
    #pricing-panel {
        background-color: #ddd;
    }

    .card-sec {
        padding-bottom: 30px;
    }

}


#custom-panel {
    background: url(/images/banner-04.png);
    background-size: cover;
    color: #ccc;

    hr {
        border: 1px #ccc solid;
        width: 64px;
    }

    .sub-title {
        padding-bottom: 20px !important;
    }
}

#contact {
    hr {
        border: 1px #ff8b38 solid;
        width: 64px;
    }

    input {
        line-height: 20;
    }

    .form-ct {
        border: 0;
        border-bottom: 1px #eee solid !important;
        padding: 30px;
    }

    .btn-ct {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    background-color: #000;
    padding: 20px;

    a {
        text-decoration: none;
        color: #ccc;
        padding-right: 20px;
    }

    .copyright {
        padding: 10px;
        color: #86878b;
        font-size: 12px;
    }
}